<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head><title> About Me</title>
</head>
<body>
<br>
<left><p><h3> This app uses Python3.7 and continuous regression method</p>
<p> to train the model with at least 10 years of data </p>
 <p>- Or as long as it exists- using yahoo finance libraries ,</p>
 <p> Then splits the data to test and train sets and trains the model.</p>
 <p>for educational purposes the commented methods can be uncommented</p>
 <p> to break the data in K folds and use different regressors with</p>
 <p> tunned parameters to obtain the best results.</p>
 <P> Different evaluation scores are provided within the app wihch can be used by</p>
 <p>everyone to evaluate the models performance.</p>
<p>Source codes are available on my github for interested people.</h3></p></left>
<center><a href="https://github.com/farzam-gh/Machine-Learning">Click for source codes</a></center>
<br>
</body>
</html>
